.app__page
{
  display: flex;
  margin-left: 0%;
}
.sidebar
{
 justify-content: flex-start;
 }

.App {
  position: relative;
  top: 0;
  left: 0;
}

.app-aside-hidden, .app-aside-visible {
  background: #414042;
  color: #fff;
  position: fixed;
  padding: 5rem 1rem 1rem 1rem;
  width: 40vw;
  height: 100%;
  top: 0;
  z-index: 3;
  transition: right 0.5s ease-in-out 0s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-aside-hidden {
  right: -50vw;
}

.app-aside-visible {
  right: 0vw;
}

.closeButton {
  font-size: 3rem;
  color: white;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.popForm {
  margin-bottom: 10rem;
}

.popForm div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.popLabel {
  width: 10vw;
}

.popInput, .popReadOnly {
  width: 25vw;
  background: #414042;
  color: #fff;
  border: none;
  padding: 0.5rem;
}

.popInput:hover {
  background: #00ff66;
  color: #000;
}

.popInput:focus {
  background: #fff;
  color: #000;
}


.infaLogo {
  height: 6vh;
}
.grid-image {
  position: relative;
    background-position:center center;
    background-size:  cover;
    background-repeat: no-repeat;
    width:170px;
    box-shadow: 8px 5px 17px -7px rgba(0,0,0,0.75);
    margin: 15px;
    transition: transform;
    cursor: pointer;
}
.grid-image:hover{
  transform: scale(1.07);
}
.popImage {
    height: 200px;
    box-shadow: 8px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius: 10px;
    transition: transform;
    cursor: pointer;
    margin-top:0;
}

.popForm h3 {
  margin-top: 4rem;
}

.hide
{
  display: flex;
  flex-direction: row;
  margin-right: 40vw;
}
.show
{
  display: flex;
  flex-direction: row;
  margin-left: 0vw;
}
.app-content-menu
{
  margin: auto;
  width: 250px;
  height: 180px;
  border: 3px solid black;
  position: relative;
  z-index: 10;
  background-color: gray;
 
}
.app-content-hide
{
 display: none;
 
}
#div1
{
  margin: 1px;
  margin-left: 5px;
}
#div2
{
  margin: 1px;
}
